*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.container {
    width: 80%;
    margin: 0 auto;
}

/* Navbar Styles */
.navbar {

    color: #fff;
    padding: 15px 0;
    border-bottom: 2px solid #00bfff; /* Lightsaber blue color */
    font-style: bold;
    width: 100%;

}
span{
    -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px #0400ff;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar .nav-links li a:hover {
    color: #00bfff; /* Lightsaber blue color */
}
.content1{
    height: 70vh;
    background:linear-gradient(45deg,rgba(13, 213, 13, 0.541), rgba(10, 57, 243, 0.541)), url('adven.jpeg') no-repeat;
    background-size: cover;
    
}
.pokok{
    position: relative;
    top: 150px;
    left: 70px;
    font-size: 50px;
    width: 70%;
}
.pokok2{
    position: relative;
    top: 150px;
    left: 70px;
    font-size: 40px;
    width: 70%;

}
.kotak{
    text-align: center;
    padding-top: 60px;
    position: relative;
    top: 180px;
    width: 290px;
    height: 90px;
    background-color:#00bfff;
    border-radius: 40px;
}
main{
    padding-top: 70px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.card{
    margin-top: 20px;
    color:white;
    background-color: cadetblue;
    width: 380px;
    height: 450px;
    border-radius: 20px;
}
img{
    border-radius: 20px;
}
button{
    height: 40px;
    width: 100px;
    background-color: blue;
    color:antiquewhite;
    border: none;
    border-radius: 15px;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
}
button:hover{
    background-color: black;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
}
